:root{
    --off-black: #454B57;
    --lightgrey: #F0F0F0;
    --grey: #8E8E8E;
    --coolwhite: #fafbff; 
    --lightblue: #DBE3F4; 
    --lightblue2: #CFD9ED;
    --darkgrey: #93A0BA;
    --blue: #5C8DF6;
    --darkblue: #4c74ca;
}
*{
    font-family: Quicksand;
    box-sizing:border-box;
}
body{
    background-color: var(--coolwhite);
    text-align: center;
    color: var(--off-black);
}
.main-container{
    width: 91.6666667%;
    margin-left: 4.1666667%;
}
.header{
    margin-top: 10%;
    font-weight: bold;
    font-size: 36px;
}

.directions{
    font-weight: bold;
    font-size: 14px;    
    margin-bottom: 30px;
    
}

.card {
    background: #FFFFFF;
    border: 3px solid #CFD9ED;
    border-radius: 13px;
    margin-top: 30px;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


select, .select{
    border: 3px solid #CFD9ED;
    border-radius: 13px;
    color: var(--grey);
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.3s;
}

select:hover, .select:hover{
    border: 3px solid var(--blue);
}

.report-container{
    display: inline-block;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;

}
.reporttext{
    float: left;
    height: 50px; 
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--blue);
}

#fields{
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 11px;
    text-align: center;
    border-width: 0px;
}


.btn2{
    width: 180px;
    height: 50px; 
    background: var(--lightblue);  
    border-radius: 11px;
    margin-left: 10px;
    border-width: 0px;
    color: var(--darkgrey);
    font-size: 18px;
    line-height: 22px;
    float: right;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.btn1{
    width: 180px;
    height: 50px; 
    background: var(--lightblue);  
    border-radius: 11px;
    border-width: 0px;
    color: var(--darkgrey);
    font-size: 18px;
    line-height: 22px;
    float: right;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.3s;
}


.btn1:hover{
    background: var(--darkblue);
    color: white;
}

.btn2:hover{
    background: var(--darkblue);
    color: white;
}

#selected_device {
    font-size: 20px;
}
.container{
    margin-top: 20px;
}
#device_name{
    color: var(--blue);
}
.notif{
    text-align:left;
}
hr{
    border: 1px solid #DBE3F4;
}
/* Larger than mobile */
@media (min-width: 400px) {
    .main-container{
        margin-left: 16.6666667%;
        width: 66.66666667%;
    }
    
}
