:root{
    --off-black: #454B57;
    --lightgrey: #F0F0F0;
    --coolwhite: #fafbff; 
    --lightblue: #DBE3F4; 
    --lightblue2: #CFD9ED;
}
*{
    font-family: Quicksand;
    box-sizing:border-box;
}
body{
    background-color: var(--coolwhite);
    text-align: center;
    color: var(--off-black);
}
h1{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 36px;
}
.header{
    margin-top: 50px;
}

.directions{
    font-weight: bold;
    font-size: 14px;    
}
.select{
    border: 3px solid #CFD9ED;
    border-radius: 13px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }